{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
      <h3>Instructions</h3>
      <p class='text-muted'>Step 1: Copy text from message.</p>
        <img src="/static/instruct_1.jpg" id="instruct1" style='width:60%'>
      <p class='text-muted'>Step 2: Paste text into box.</p>
        <img src="/static/instruct_2.jpg" id="instruct2" style='width:80%'>
      <p class='text-muted'>Step 3: Results.</p>
        <div class="container">
          <p id="blankgreen" style="font-weight:bold">OK</p>
        </div>
        <div class="container">
          <p id="blankred" style="color:white;font-weight:bold">BAD</p>
        </div>

    </div>


{% endblock content %}
