{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
      <form method="POST" action="">
        <h2>Paste text to check for scams:</h2><br>
          <input type="text" name="input_text" value='' style="width:100%">
          <br><br>
            <input type="submit" value="Submit" id="submitbutton"><br>
      </form>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class=flashes style="padding:0">
          {% for message in messages %}
            {% if harmless_green %}
              <div class="content-section" id="greenbox">
                {{ message }} <br>
              </div>
            {% else %}
              <div class="content-section" id="redbox">
                {{ message }} <br>
              </div>
            {% endif %}
          {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}

{% endblock content %}
